body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.heading{
    margin-bottom: 0%;
}


#container{
    width: 600px;
    height: 600px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
}
